{% extends 'base.html' %}
{% block title %}About {% endblock title %}

{% block body %}
<p class="font-weight-bold" style="font-size: xx-large;margin-left: 540px;">About Us</p>
<p class="font-italic">Utility software is software designed to help to analyze, configure, optimize or maintain a computer.[1] It is used to support the computer infrastructure - in contrast to application software, which is aimed at directly performing tasks that benefit ordinary users. However, utilities often form part of the application systems. For example, a batch job may run user-written code to update a database and may then include a step that runs a utility to back up the database, or a job may run a utility to compress a disk before copying files.Although a basic set of utility programs is usually distributed with an operating system (OS), and this first party utility software is often considered part of the operating system, users often install replacements or additional utilities.[2][3] Those utilities may provide additional facilities to carry out tasks that are beyond the capabilities of the operating system.</p>

<img src="https://source.unsplash.com/user/erondu/200x200" class="rounded float-left" alt="...">
<img src="https://source.unsplash.com/user/erondu/200x200" class="rounded float-right" alt="..." style="margin-left: 858px;">

{% endblock body %}